<?xml version="1.0"?>
<launch>
  <node pkg="suturo_resources" name="base_scan_limiter" type="base_scan_opening_limiter.py" output="screen"/>
  <remap from="/hsrb/base_scan" to="/hsrb/base_scan_unlimited"/>

  <arg name="namespace" default="hsrb"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true" />
  <arg name="suturo_rviz" default="true"/>
  <arg name="gazebo_visualization" default="false" />
  <arg name="use_manipulation" default="true" />
  <arg name="use_navigation" default="true" />
  <arg name="use_perception" default="true" />
  <arg name="use_task" default="true" />
  <arg name="use_teleop" default="true" />
  <arg name="use_web" default="false" />
  <arg name="use_laser_odom" default="true" />
  <arg name="paused" default="true" />
  <arg name="fast_physics" default="false" />
  <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />
  <arg name="personal_name" default="" />
  <arg unless="$(eval personal_name == '')" name="use_web" value="false"/>
  <arg name="param_file" default="$(optenv HOME ~)/.ros/params.yaml"/>

  <arg unless="$(arg fast_physics)" name="world_suffix" value=""/>
  <arg     if="$(arg fast_physics)" name="world_suffix" value="_fast"/>

  <arg name="world" default="robocup_demo_2_objects.world" />
  <arg name="map_name" default="robocup_sim_master/robocup_demo_2.yaml" />
  <arg name="gazebo" default="true" />

  <arg name="map_server" default="false" />
  <arg name="publish_planning_hsr" default="true" />

  <arg name="publish_environment" default="true" />
  <arg name="env_model_yaml" default="gz_sim_rc_sim_2.yaml" />

  <arg name="show_rooms" default="true"/>

  <arg name="publish_robot_description" default="false" />

  <arg name="run_snap_map" default="true" />

  <!-- where to spawn the robot-->
  <arg name="robot_spawn_pose_x" default="0" />
  <arg name="robot_spawn_pose_y" default="0" />
  <arg name="robot_spawn_pose_z" default="0" />
  <arg name="robot_spawn_rotation" default="0" />

  <group if="$(eval arg('gazebo') == true)">
    <!--  prepare params.yaml(param command hack)   -->
    <param name="$(arg namespace)/tmp" command="rosrun tmc_roslaunch_tools symboliclink $(arg param_file) $(find hsrb_common_launch)/params/empty_params.yaml"/>
    <!--  gazebo  -->
    <param name="/use_sim_time" value="true"/>

    <group>
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="world_name" value="$(find suturo_resources)/gazebo_worlds/$(arg world)"/>
      </include>
    </group>

    <include file="$(find hsrb_gazebo_bringup)/launch/include/hsrb_no_controllers.xml" pass_all_args="true"/>
    <group ns="$(arg personal_name)/$(arg namespace)">
      <rosparam command="load" file="$(find suturo_bringup)/config/hsrb_controller_config.yaml"/>
      <rosparam command="load" file="$(find hsrb_gazebo_bringup)/params/hsrb_controller_config.yaml"/>
      <param name="omni_base_controller/tf_prefix" value="$(arg personal_name)"/>
      <param name="omni_base_controller/model_name" value="$(arg personal_name)/robot_description"/>
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller arm_trajectory_controller head_trajectory_controller omni_base_controller --timeout 60"/>
    </group>

    <group>
      <include file="$(find hsrb_gazebo_bringup)/launch/include/hsrb_sensor.xml" >
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="personal_name" value="$(arg personal_name)" />
      </include>
    </group>

    <group ns="/$(arg personal_name)">
      <node name="talk_action_simulator" pkg="tmc_talk_action_simulator" type="talk_request_server"/>
    </group>
    <!--  common  -->
    <include file="$(find hsrb_common_launch)/launch/hsrb_common.launch">
      <arg name="namespace" value="$(arg namespace)"/>
      <arg name="sim" value="true"/>
      <arg name="use_manipulation" value="$(arg use_manipulation)"/>
      <arg name="use_navigation" value="$(arg use_navigation)"/>
      <arg name="use_perception" value="$(arg use_perception)"/>
      <arg name="use_task" value="$(arg use_task)"/>
      <arg name="use_teleop" value="$(arg use_teleop)"/>
      <arg name="use_web" value="$(arg use_web)"/>
      <arg name="map" value="$(find suturo_resources)/maps/$(arg map_name)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="personal_name" value="$(arg personal_name)"/>
    </include>
    <!--  load override parameters -->
    <rosparam command="load" file="$(arg param_file)"/>
  </group>

  <group if="$(eval arg('gazebo') == false)">
    <group if="$(eval arg('map_server') == true)">
      <node name="map_server" pkg="map_server" type="map_server" args="$(find suturo_resources)/maps/$(arg map_name)" />
    </group>
  </group>

    <group if="$(eval arg('run_snap_map') == true)">
    <node pkg="snap_map_icp" type="snap_map_icp" name="snap_map_icp" output="screen">
      <!-- remap topics for map and laser scans -->
      <remap from="~base_scan" to="/hsrb/base_scan_unlimited"/>
      <remap from="~map" to="/static_obstacle_map_ref"/>

      <!-- relevant scan frames -->
      <param name="odom_frame" value="/odom"/>
      <param name="base_laser_frame" value="/base_range_sensor_link"/>

      <!-- defines minimum fitness for candidates for pose publishing -->
      <param name="icp_fitness_threshold" value="10"/>

      <!-- accept only scans one second old or younger -->
      <param name="age_threshold" value="20"/>
      <param name="update_age_threshold" value="1"/>

      <!-- thresholds over distance btw amcl icp pose to trigger pose publishing -->
      <!-- translation -->
      <param name="dist_threshold" value="0.01"/>
      <!-- rotation -->
      <param name="angle_threshold" value="0.01"/>
      <param name="angle_upper_threshold" value="1"/>

      <!-- various icp parameters -->
      <!-- consult with icp algorithm from pcl for details -->
      <param name="icp_inlier_threshold" value="0.1"/>
      <param name="icp_inlier_dist" value="0.1"/>
      <param name="icp_num_iter" value="500"/>

      <!-- who knows??? -->
      <param name="pose_covariance_trans" value="0.5"/>

      <!-- rate at which scans are taken -->
      <param name="scan_rate" value="4"/>
    </node>
  </group>

  <group if="$(eval arg('publish_planning_hsr') == true)">
    <param name="hsr_description"
           command="$(find xacro)/xacro.py
                    '$(find hsr_description)/robots/hsrb4s.urdf.xacro'"/>suturo_bringup.launch
  </group>

  <!-- URDF OF THE ENVIORNMENT -->
  <group if="$(eval arg('publish_environment') == true)">
    <include file="$(find suturo_resources)/urdf/launch/urdf.launch" pass_all_args="false" >
      <arg name="world_urdf_yaml" value="$(arg env_model_yaml)"/>
    </include>
  </group>

  <!-- Show Rooms -->
  <group if="$(eval arg('show_rooms') == true)">
    <include file="$(find suturo_room_viz)/launch/suturo_room_viz.launch" pass_all_args="false" >      
    </include>
  </group>


  <!-- URDF OF THE ROBOT -->
  <group if="$(eval arg('publish_robot_description') == true)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder 
                    '$(find hsrb_description)/robots/hsrb4s.urdf.xacro'"/>
  </group>

  <group if="$(eval arg('suturo_rviz') == true)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find suturo_resources)/rviz_configs/suturo.rviz" />
  </group>
  
  <node pkg="tf2_ros" type="buffer_server" name="tf_server" output="screen" />

</launch>
